.modal {
    border: 1px solid rgba(60, 66, 66, 1);
    border-radius: 23px;
    width: 560px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    overflow: hidden;



    .modal-wrapper{
        display: flex;
        flex-direction: column;



        .modal-header{
            margin-top: 10px;
            text-align: center;

            .modal-close{
                position: fixed;
                right: 10px;
                border: none;
                background-color: white;
            }
        }
        
    }
    
}


.delete-modal{
    height: 558px;
    z-index: 100;
    .modal-wrapper{
        gap: 32px;
    }
    
    .modal-header{
        display: flex;
        flex-direction: column;
        gap: 85px;
        margin-top: 10px;
        text-align: center;
        font-size: 32px;
    }
    
    .modal-img{
        padding-top: 56px;
        width: 276px;
        height: 140px;
        display: flex;
        margin: 0 auto;
    }

    .modal-body{
        font-size: 16px;
        text-align: center;
    }

    .modal-footer{
        display: flex;
        gap: 64px;
        justify-content: center;
        height: 48px;
        margin-top: 40px;

        .footer-btn{
            width: 192px;
            border-radius: 10px;
            font-size: 16px;
        }
        .Delete-btn{
            background-color: white;
            color: rgba(138, 51, 253, 1);
        }
        .Cancel-btn{
            background-color: rgba(138, 51, 253, 1);
            color: white;
        }
    }
}

.fav-modal{
    height: 333px;
    z-index: 100;

    .modal-wrapper{
        gap: 42px;
    }
    .modal-header{
        font-size: 32px;
        padding-top: 56px;
    }
    .modal-body{
        font-size: 16px;
        display: flex;
        justify-content: center;
    }

    .modal-close{
        position: fixed;
        top: 5px;
        right: 5px;
        border-radius: 50%;
        border: none;
        background-color: white;
    }
    
    .modal-footer{
        margin-top: 31px;
        display: flex;
        justify-content: center;
        height: 48px;
        .footer-btn{
            background-color: rgba(138, 51, 253, 1);
            color: white;
            font-size: 16px;
            border-radius: 10px;
            width: 192px;
        }
    }
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease-in-out;
    z-index: 1;
    pointer-events: none; 
  
    &.active {
      background-color: rgba(0, 0, 0, 0.5);
      pointer-events: auto; 
    }
  }
  